* {
  padding: 0;
  margin: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
ul,
ol,
li,
dt,
dd,
dl,
i,
em,
strong,
b,
form {
  font-size: 12px;
  font-family: 'Microsoft Yahei';
}
ul,
ol,
dl {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
li {
  cursor: pointer;
}
a img {
  border: 0;
  vertical-align: top;
}
i,
em {
  font-style: normal;
}
b,
strong {
  font-weight: normal;
}
input,
textarea {
  outline: none;
  resize: none;
}
.fl {
  float: left;
  display: inline;
}
.fr {
  float: right;
  display: inline;
}
.por {
  position: relative;
}
.clearFix:after {
  display: block;
  content: '';
  clear: both;
}
.clearFix {
  zoom: 1;
}
.head {
  z-index: 20;
  width: 100%;
  height: 876px;
  background: url(../../img/bx-img/Investorrelations.jpg) no-repeat center center;
  position: relative;
  top: 0;
  left: 0;
}
.head > p {
  width: 100%;
  height: 95px;
  color: white;
  line-height: 95px;
  text-align: center;
  font-size: 72px;
  position: absolute;
  top: 305px;
}
.head > li {
  width: 100%;
  height: 82px;
  text-align: center;
  line-height: 82px;
  color: #e9e9e4;
  font-size: 24px;
  list-style: none;
  font-family: times new roman;
  position: absolute;
  top: 395px;
}
.head > div {
  width: 100%;
  height: 95px;
  background: #000;
  opacity: 0.6;
}
.head > div > div {
  width: 1023px;
  height: 95px;
  margin: 0 auto;
}
.head > div > div > img {
  display: block;
  float: left;
  width: 108px;
  height: 56px;
  margin-top: 17.5px;
}
.head > div > div > img + div {
  width: 720px;
  height: 95px;
  float: right;
}
.head > div > div > img + div > ul:nth-child(1) {
  width: 720px;
  height: 24px;
  margin-top: 20px;
}
.head > div > div > img + div > ul:nth-child(1) > span {
  width: 136px;
  height: 24px;
  float: right;
  background: #666;
  border-radius: 20px;
}
.head > div > div > img + div > ul:nth-child(1) > span > p:nth-child(1) {
  width: 43px;
  height: 24px;
  color: #f1f1f1;
  line-height: 24px;
  text-align: center;
  float: left;
  margin-left: 11px;
}
.head > div > div > img + div > ul:nth-child(1) > span > p:nth-child(2) {
  width: 1px;
  height: 20px;
  display: block;
  background: #f0f0f0;
  float: left;
  margin: 2px 0px;
}
.head > div > div > img + div > ul:nth-child(1) > span > p:nth-child(3) {
  width: 72px;
  height: 24px;
  float: left;
  color: #f1f1f1;
  line-height: 24px;
  text-align: center;
}
.head > div > div > img + div > ul:nth-child(2) {
  width: 720px;
  height: 50px;
}
.head > div > div > img + div > ul:nth-child(2) > li {
  width: 120px;
  float: left;
  height: 50px;
  font-size: 14px;
  line-height: 50px;
  color: #f0f0f0;
}
.duce {
  width: 100%;
  height: 50px;
  position: relative;
}
.duce-1,
.duce-2,
.duce-3,
.duce-4,
.duce-5,
.duce-6 {
  width: 100%;
  height: 50px;
  background: white;
  opacity: 0.8;
  position: absolute;
  display: none;
}
.duce-1 > ul,
.duce-2 > ul,
.duce-3 > ul,
.duce-4 > ul,
.duce-5 > ul,
.duce-6 > ul {
  width: 1023px;
  height: 50px;
  margin: 0 auto;
}
.duce-1 > ul > ul,
.duce-2 > ul > ul,
.duce-3 > ul > ul,
.duce-4 > ul > ul,
.duce-5 > ul > ul,
.duce-6 > ul > ul {
  width: 720px;
  height: 50px;
  float: right;
}
.duce-1 > ul > ul > a,
.duce-2 > ul > ul > a,
.duce-3 > ul > ul > a,
.duce-4 > ul > ul > a,
.duce-5 > ul > ul > a,
.duce-6 > ul > ul > a {
  width: 120px;
  float: left;
  color: #aaabac;
  height: 50px;
  font-size: 14px;
  line-height: 50px;
  color: #333;
}

	.newsBox1 {
    width: 1024px;
    margin: 10px auto;
}
.newsBox1 ul {
    float: left;
    width: 100%;
}
.listline .active {
    opacity: 1;
}
.newsBox1 ul li {
    float: left;
    width: 97%;
    height: 163px;
    border: 1px #e6e6e6 solid;
    margin-bottom: 20px;
    padding-right: 3%;
    /*-webkit-transition: box-shadow 1s;*/
}
.newsBox1 ul li:hover{
	box-shadow: 3px 3px 7px 0px #F3F3F3;
}
.newsBox1 ul li .time {
    float: left;
    width: 180px;
    background: #f3f3f3;
    text-align: center;
    font-size: 1.5em;
    font-weight: lighter;
    color: #dbd0bc;
    padding: 23px 0 24px 0;
    font-family: Verdana;
}
.newsBox1 ul li .time b {
    font-size: 3em;
    color: #c5a981;
}
.newsBox1 ul li h3 {
    float: left;
    padding: 30px 0 0 20px;
    font-weight: 400;
    font-size: 16px;
}
.newsBox1 ul li p {
    float: left;
    width: 600px;
    height: 40px;
    overflow: hidden;
    color: #969696;
    font-size: 14px;
    padding-left: 20px;
    line-height: 20px;
}
.newsBox1 ul li a {
    float: right;
    width: 120px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background: #c5aa7f;
    text-align: center;
    margin: 20px 0;
    -webkit-transition: background 1s;
}



.foot {
  width: 100%;
  height: 412px;
  background: #f8f8f8;
  border-top: 1px solid #ebebeb;
  float: left;
}
.foot > div {
  width: 1023px;
  height: 341px;
  margin: 0 auto;
}
.foot > div > ul {
  width: 115px;
  height: 304px;
  float: left;
  padding-top: 37px;
}
.foot > div > ul > p {
  width: 115px;
  height: 52px;
  font-size: 16px;
  line-height: 52px;
}
.foot > div > ul > a {
  display: block;
  color: #8c8c8c;
  width: 115px;
  height: 33px;
  line-height: 33px;
}
.foot > div > ul > a:hover {
  color: #333;
}
/*.foot > div > div {
  width: 200px;
  height: 200px;
  float: left;
  background: blue;
  
}*/
.foot > li {
  list-style: none;
  width: 100%;
  height: 70px;
  text-align: center;
  line-height: 70px;
  color: #b3b3b3;
  border-top: 1px solid #ebebeb;
  font-size: 14px;
  position: relative;
}
/*.foot > li > img {
  position: absolute;
  width: 20px;
  height: 24px;
  top: 24px;
  left: 34.5%;
}*/
/*.oo{
	width: 200px;
	height: 200px;
	background: blue;
	margin-top: 56px;
}*/
.foot > div > div .ss{
	color: #ddc59e;
	font-size: 23px;
}
.foot > div > div .ll{
	color: #b8b4b4;
	font-size: 10px;
	margin-top: 6px;
}
.foot > div > div .dd{
	font-size: 37px;
	color: #373737;
	font-weight: lighter;
	margin-top: 10px;
}
.pp{
	width: 16px;
	height: 14px;
	background: url(../../img/bx-img/4.gif) no-repeat;
	position:absolute;
	left: 186px;
	top: 88px;
}

