.head {
  z-index: 20;
  width: 100%;
  height: 520px;
  background:url(../../img/ljn-img/mediaReports/group-news-banner.jpg) no-repeat center center;
  position: relative;
  top: 0;
  left: 0;
  
  
}
.head > p {
  width: 100%;
  height: 95px;
  color: white;
  line-height: 95px;
  text-align: center;
  font-size: 58px;
  position: absolute;
  top: 230px;
}
.head > li {
  width: 100%;
  height: 82px;
  text-align: center;
  line-height: 82px;
  color: #e9e9e4;
  font-size: 20px;
  list-style: none;
  font-family: "微软雅黑";
  position: absolute;
  top: 175px;
}
.head > div {
  width: 100%;
  height: 95px;
  background: #000;
  opacity: 0.6;
}
.head > div > div {
  width: 1023px;
  height: 95px;
  margin: 0 auto;
}
.head > div > div > img {
  display: block;
  float: left;
  width: 108px;
  height: 56px;
  margin-top: 17.5px;
}
.head > div > div > img + div {
  width: 720px;
  height: 95px;
  float: right;
}
.head > div > div > img + div > ul:nth-child(1) {
  width: 720px;
  height: 24px;
  margin-top: 20px;
}
.head > div > div > img + div > ul:nth-child(1) > span {
  width: 136px;
  height: 24px;
  float: right;
  background: #666;
  border-radius: 20px;
}
.head > div > div > img + div > ul:nth-child(1) > span > p:nth-child(1) {
  width: 43px;
  height: 24px;
  color: #f1f1f1;
  line-height: 24px;
  text-align: center;
  float: left;
  margin-left: 11px;
}
.head > div > div > img + div > ul:nth-child(1) > span > p:nth-child(2) {
  width: 1px;
  height: 20px;
  display: block;
  background: #f0f0f0;
  float: left;
  margin: 2px 0px;
}
.head > div > div > img + div > ul:nth-child(1) > span > p:nth-child(3) {
  width: 72px;
  height: 24px;
  float: left;
  color: #f1f1f1;
  line-height: 24px;
  text-align: center;
}
.head > div > div > img + div > ul:nth-child(2) {
  width: 720px;
  height: 50px;
}
.head > div > div > img + div > ul:nth-child(2) > li {
  width: 120px;
  float: left;
  height: 50px;
  font-size: 14px;
  line-height: 50px;
  color: #f0f0f0;
}
.duce {
  width: 100%;
  height: 50px;
  position: relative;
}
.duce-1,
.duce-2,
.duce-3,
.duce-4,
.duce-5,
.duce-6 {
  width: 100%;
  height: 50px;
  background: white;
  opacity: 0.8;
  position: absolute;
  display: none;
}
.duce-1 > ul,
.duce-2 > ul,
.duce-3 > ul,
.duce-4 > ul,
.duce-5 > ul,
.duce-6 > ul {
  width: 1023px;
  height: 50px;
  margin: 0 auto;
}
.duce-1 > ul > ul,
.duce-2 > ul > ul,
.duce-3 > ul > ul,
.duce-4 > ul > ul,
.duce-5 > ul > ul,
.duce-6 > ul > ul {
  width: 720px;
  height: 50px;
  float: right;
}
.duce-1 > ul > ul > a,
.duce-2 > ul > ul > a,
.duce-3 > ul > ul > a,
.duce-4 > ul > ul > a,
.duce-5 > ul > ul > a,
.duce-6 > ul > ul > a {
  width: 120px;
  float: left;
  color: #aaabac;
  height: 50px;
  font-size: 14px;
  line-height: 50px;
  color: #333;
}
/*head*/
.group-detail{
	width: 1024px;
    margin: 0 auto;
    color: #666;
    font-size: 14px;
}
.group-detail .group-detail-hd{
	
	margin-top: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.group-detail .group-detail-hd span{
	float: right;
    color: #999;
    font-size: 14px;
    padding-top: 7px;
    /*display: inline-block;*/
}
.group-detail .group-detail-hd span img{
	padding-right: 5px;
    vertical-align: middle;
    /*display: block;*/
}
.group-detail .group-detail-hd h1{
		color: #333;
    font-size: 24px;
    display: inline-block;
    font-weight: normal;
}
.group-detail .group-detail-bd{
		line-height: 24px;
}	
.group-detail .group-detail-bd dl p{
		font-weight: normal;
    color: #333;
    font-family: '5FAE软雅黑', 微软雅黑, 'Microsoft Yahei', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    text-align: start;
    text-indent: 35px;
   	margin-top: 10px;
}
.group-detail .group-detail-bd dl span{
	 color: #000;
	 font-weight: bold;
	 display: block;
	 font-size: 14px;
	 text-indent: 35px;
	 /*text-align: center;*/
	 margin-top: 10px;
}   